:root {
  --color-background: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-bg-input: #1a1a1a;
  --color-border-input: #333333;
  --color-accent: #646cff;
  --color-error: #ff6464;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #213547;
    --color-background: #ffffff;
    --color-bg-input: #f9f9f9;
    --color-border-input: #e0e0e0;
  }
}
