#root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  min-width: 320px;
  height: 100vh;
  padding: var(--padding);
  gap: var(--padding);

  * {
    user-select: none;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  #device-search {
    display: flex;
    gap: var(--padding-half);
    justify-content: stretch;
    width: 100%;

    input {
      flex: 1;
      min-width: 0;
    }
  }

  .sidebar {
    width: 20em;

    .footer {
      display: flex;
      flex-direction: column;
      gap: var(--padding-half);
    }
  }

  main {
    flex: 1;
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: var(--color-bg-input);
    border: 1px solid var(--color-border-input);
    overflow: scroll;
    * {
      user-select: text;
    }
  }
}
