#root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  min-width: 320px;
  height: 100vh;

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  #device-search {
    display: flex;
    gap: var(--padding-half);
    justify-content: stretch;
    width: 100%;

    input {
      flex: 1;
      min-width: 0;
    }
  }

  .sidebar {
    width: 20em;
  }

  main {
    flex: 1;
    margin: var(--padding);
    padding: var(--padding);
    margin-left: var(--padding-half);
    border-radius: var(--border-radius);
    background-color: var(--color-bg-input);
    overflow: scroll;
  }
}
