#root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  min-width: 320px;
  min-height: 100vh;

  aside {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem 0.6rem;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  .searchbar {
    display: flex;
    gap: 8px;
    justify-content: stretch;
    width: 100%;

    input {
      flex: 1;
    }
  }

  .rotate {
    animation: rotate 2s linear infinite;
  }
}
